<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMS Service API</title>
    <link rel="icon" type="image/x-icon" href="images/sms-icon-5460-16x16.ico">
    <link rel="shortcut icon" type="image/x-icon" href="images/sms-icon-5460-16x16.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="ro">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <link href='vorder/font2.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="all" href="css/style3.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/backgrounds.css">
    <script src="vorder/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-global.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <script src="vorder/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/cursor.css">
    <link href='vorder/font3.css' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript">
        addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
</head>

<body>
    <h1>SMS Service API</h1>
    <div class="wrapper">
        <div class="mainWrapper">
            <div class="leftHolder">
                <div class="errorNumber">404</div>
            </div>
            <br><br>
            <div class="rightHolderrightHolder">
                <br>
                <div class="message">
                    <p>Passwords do not match. Please follow the instructions below.</p>
                </div>
                <div class="robotik"><img src="images/robotik.png" title="Oooops....we can’t find that page." id="robot"></div>
                <div class="tryToMessage">
                    Try to:
                    <ul>
                        <li>Check password <a href="/" title="Back" style="color: white">Regis</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row" style="padding-top: 100px; width: 100%; display: inline-block">
                <div class="copyright">
                    <p style="color: white">Copyright &copy; 2017 | Developed by <a href="https://web.facebook.com/JIch01beer" target="_blank" style="color:orange">
                         Jirayu Chinnawong </a>
                        <br>Information Technology | Faculty of Technology and Environment | Prince of Songkla University,
                        Phuket Campus
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>