<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SMS Service API</title>
  <link rel="icon" type="image/x-icon" href="images/sms-icon-5460-16x16.ico">
  <link rel="shortcut icon" type="image/x-icon" href="images/sms-icon-5460-16x16.ico">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script type="application/x-javascript">
    addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
  </script>
  <style>
    .hidden {
      display: none;
    }

    #myDIV {
      width: 100%;
      padding: 50px 0;
      text-align: center;
      background-color: pink;
      margin-top: 20px;
    }

    #myDIV2 {
      width: 100%;
      padding: 10px 0;
      text-align: center;
      background-color: azure;
      margin-top: 20px;
    }
  </style>
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
  <link href="css/style2.css" rel="stylesheet" type="text/css" media="all">
  <link href="css/style4.css" rel="stylesheet" type="text/css" media="all">
  <link rel="icon" type="image/x-icon" href="file/sms-icon-5460-16x16.ico">
  <link rel="shortcut icon" type="image/x-icon" href="file/sms-icon-5460-16x16.ico">
  <link rel='stylesheet prefetch' href="vorder/bootstrap.min.css">
  <script src="vorder/jquery-1.11.1.min.js"></script>
  <script src="vorder/bootstrap.min.js"></script>
  <link rel="stylesheet" href="vorder/normalize.min.css">
  <link rel='stylesheet prefetch' href='vorder/font-awesome.min.css'>
  <link href="vorder/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/cursor.css">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="images/sms.png" style="width: 60px; height: 40px; margin: -8px;">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="hidden">
            <a class="active" href="/home">
              <span class="glyphicon glyphicon-home"></span> Home</a>
          </li>
          <li class="dropdown">
            <a style="background-color: pink; color: black" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">
              <span class="glyphicon glyphicon-phone"></span> SMS service
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">one person</li>
              <li>
                <a href="/user">SMS form</a>
              </li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">multiple person</li>
              <li>
                <a href="/upload">Upload file</a>
              </li>
              <li>
                <a href="/show">Contact list</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/contact">
              <span class="glyphicon glyphicon-envelope"></span> Contact</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="dropdown-item" href="/home">
              <span class="glyphicon glyphicon-user"></span> Profile</a>
          </li>
          <li>
            <a href="/logout">
              <span class="glyphicon glyphicon-log-in"></span> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <div class="row">
    <div class="col-12 frmCaption">
      <div class="container">
        <div id="myDIV">
          <center>
            <p style="color: blueviolet; font-size: 18px">Upload your contact file (.xls or .xlsx)</p>
          </center>
        </div>


      </div>
      <br>
      <br>
      <div class="col-6">
        <center>
          <div class="wrapper">
            <div class="container">
              <div class="panel">
                <form action="/show" method="post" enctype="multipart/form-data">
                  <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="filename" id="uploadBtn"
                    class="upload"> &nbsp;&nbsp;
                  <button type="submit" name="submit" class="btn btn-success" style="margin: -4px;">
                    <span class="glyphicon glyphicon-ok-sign"></span> Submit</button>
                </form>
                <br>
              </div>
            </div>
          </div>
        </center>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-6 col-sm-3"></div>
      <div class="col-xs-6 col-sm-3"></div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-xs-6 col-sm-3">
        <br>
        <div class="box sb3">
          <h4>Please upload your contact file.</h4>
        </div>
      </div>
      <center>
        <img src="images/upload.png" style="width: 40em; height: 15em;">
      </center>
      <div class="col-xs-6 col-sm-3"></div>
    </div>
    <br>
    <div id="myDIV2">
      <div class="row" style="padding-top: 120px; width: 100%; display: inline-block">
        <div class="copyright">
          <p style="color:black">Copyright &copy; 2017 | Developed by
            <a href="https://web.facebook.com/JIch01beer" target="_blank" style="color:orange">
              Jirayu Chinnawong </a>
            <br>Information Technology | Faculty of Technology and Environment | Prince of Songkla University, Phuket Campus
            <br> Email: jirayu_ch01@hotmail.com | Tel: (+66)95019-3878 | Github:
            <a href="https://github.com/jirayuch01/" target="_blank" style="color:orange"> @jirayuch01 </a>
          </p>
        </div>
      </div>
    </div>
    <script src='vorder/jquery.min.js'></script>
    <script src="js/index2.js"></script>
    <script>
      $('input[type="file"]').inputfile({
        uploadText: '<span class="glyphicon glyphicon-upload"></span> Select a file',
        removeText: '<span class="glyphicon glyphicon-trash"></span>',
        restoreText: '<span class="glyphicon glyphicon-remove"></span>',
        uploadButtonClass: 'btn btn-primary',
        removeButtonClass: 'btn btn-default'
      });
      $(document).ready(function () {
        $(form).on('submit', function () {
          location.reload();
        });
      })
    </script>
</body>

</html>