<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMS Service API</title>
    <link rel="icon" type="image/x-icon" href="images/sms-icon-5460-16x16.ico">
    <link rel="shortcut icon" type="image/x-icon" href="images/sms-icon-5460-16x16.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/cursor.css">
    <script type="application/x-javascript">
    addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
  </script>
    <style>
        body {
            background-color: orange;
        }

        .hidden {
            display: none;
        }

        #myDIV {
            width: 100%;
            padding: 50px 0;
            text-align: center;
            background-color: pink;
            margin-top: 20px;
        }

        #myDIV2 {
            width: 100%;
            padding: 10px 0;
            text-align: center;
            background-color: azure;
            margin-top: 20px;
        }
    </style>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/style2.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/style4.css" rel="stylesheet" type="text/css" media="all">
    <link rel="icon" type="image/x-icon" href="file/sms-icon-5460-16x16.ico">
    <link rel="shortcut icon" type="image/x-icon" href="file/sms-icon-5460-16x16.ico">
    <link rel='stylesheet prefetch' href="vorder/bootstrap.min.css">
    <script src="vorder/jquery-1.11.1.min.js"></script>
    <script src="vorder/bootstrap.min.js"></script>
    <link rel="stylesheet" href="vorder/normalize.min.css">
    <link rel='stylesheet prefetch' href='vorder/font-awesome.min.css'>
    <link href="vorder/jquerysctipttop.css" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="images/sms.png" style="width: 60px; height: 40px; margin: -8px;">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a class="active" href="/home">
                            <span class="glyphicon glyphicon-home"></span> Home</a>
                    </li>
                    <li class="dropdown">
                        <a style="background-color: pink; color: black" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="glyphicon glyphicon-phone"></span> SMS service
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">one person</li>
                            <li>
                                <a href="/user">SMS form</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">multiple person</li>
                            <li>
                                <a href="/upload">Upload file</a>
                            </li>
                            <li>
                                <a href="/show">Contact list</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/contact">
                            <span class="glyphicon glyphicon-envelope"></span> Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="dropdown-item" href="/home">
                            <span class="glyphicon glyphicon-user"></span> Profile</a>
                    </li>
                    <li>
                        <a href="/logout">
                            <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="col-6">
            <div class="wrapper">
                <div class="container">
                    <div id="myDIV">
                        <center>
                            <h1 style="color: brown">Please fill in the information.</h1>
                        </center>
                    </div>
                    <br>
                    <div class="alert alert-info">
                        <strong>Message! </strong>
                        <span id="mySpan" style="color: red"></span>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <img src="images/h2.jpg" style="width: 100%; height:100%">
                        </div>
                        <div class="modal-content col-lg-6">
                            <div class="modal-header">
                                <h4 class="modal-title custom_align" id="Heading">
                                    <b>
                                        Send SMS</b>
                                </h4>
                            </div>
                            <div class="modal-body">
                                Username
                                <div class="input-group">
                                    <input class="form-control" type="text" id="SMSusername" name="SMSusername" value="{{user}}" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" id="btnEditU"> edit </button>
                                    </span>
                                </div>
                                <br> Password
                                <div class="input-group">
                                    <input class="form-control" type="password" id="SMSpassword" name="SMSpassword" value="{{pass}}" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" id="btnEditP"> edit </button>
                                    </span>
                                </div>
                                <br>
                                <div class="form-group">
                                    Credit Type
                                    <select class="form-control" id="force" name="force">
                                        <option value="standard" selected="selected">Standard</option>
                                        <option value="premium">Premium</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    Sender Name
                                    <select class="form-control" id="sender" name="sender">
                                        <option value="THAIBULKSMS" selected="selected">THAIBULKSMS</option>
                                    </select>
                                </div>
                                <div id="ScheduledDelivery" style="display: none;"></div>
                                <div class="form-group">
                                    Phone Number
                                    <input class="form-control" type="text" id="msisdn" name="msisdn" value="" required>
                                </div>
                                <div class="form-group">
                                    Mobile
                                    <select class="form-control">
                                        <option value="AIS" selected="selected">AIS</option>
                                        <option value="Dtac">Dtac</option>
                                        <option value="Truemove-H">Truemove-H</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    Message
                                    <textarea class="form-control" id="message" name="message" required maxlength="70"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <center>
                                    <form action="/user" method="post">
                                        <button class="btn btn-success btn-lg" style="width: 100%;" name="btnButton" id="btnButton" type="button" onClick="JavaScript:doCallAjax();">
                                            <span class="glyphicon glyphicon-ok-sign"></span> Send messages</button>
                                    </form>
                                </center>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <h3 style="float: right"> credit:
                        <a href="https://www.secure.thaibulksms.com" target="_blank" style="color:orange"> Thaibulksms.com </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div id="myDIV2">
        <div class="row" style="padding-top: 120px; width: 100%; display: inline-block">
            <div class="copyright">
                <p style="color:black">Copyright &copy; 2017 | Developed by
                    <a href="https://web.facebook.com/JIch01beer" target="_blank" style="color:orange">
                        Jirayu Chinnawong </a>
                    <br>Information Technology | Faculty of Technology and Environment | Prince of Songkla University, Phuket
                    Campus
                    <br> Email: jirayu_ch01@hotmail.com | Tel: (+66)95019-3878 | Github:
                    <a href="https://github.com/jirayuch01/" target="_blank" style="color:orange"> @jirayuch01 </a>
                </p>
            </div>
        </div>
    </div>
    <script src='vorder/jquery.min.js'></script>
    <script src="js/index2.js"></script>
    <script language="JavaScript">
        var HttPRequest = false;
        function doCallAjax() {
            HttPRequest = false;
            if (window.XMLHttpRequest) {
                HttPRequest = new XMLHttpRequest();
            } else {
                HttPRequest = new ActiveXObject("Microsoft.XMLHTTP");
            }
            if (!HttPRequest) {
                alert('Cannot create XMLHTTP instance');
                return false;
            }
            var SMSusername = document.getElementById("SMSusername").value;
            var SMSpassword = document.getElementById("SMSpassword").value;
            var msisdn = document.getElementById("msisdn").value;
            var message = document.getElementById("message").value;
            var sender = document.getElementById("sender").value;
            var force = document.getElementById("force").value;
            var ScheduledDelivery = document.getElementById("ScheduledDelivery").innerHTML;
            var url = 'http://www.thaibulksms.com/sms_api.php';
            var pmeters = 'username=' + SMSusername + '&password=' + SMSpassword + '&msisdn=' + msisdn + '&message=' + message + '&sender=' + sender + '&ScheduledDelivery=' + ScheduledDelivery + '&force=' + force;
            HttPRequest.open('POST', url, true);
            HttPRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            //HttPRequest.setRequestHeader("Content-length", pmeters.length);
            //HttPRequest.setRequestHeader("Connection", "close");
            HttPRequest.send(pmeters);
            HttPRequest.onreadystatechange = function () {
                if (HttPRequest.readyState == 3) {
                    document.getElementById("mySpan").innerHTML = "Now is Loading...";
                }
                if (HttPRequest.readyState == 4) {
                    if (HttPRequest.status == 200) {
                        var txt, xx, x, i;
                        var data_xml = HttPRequest.responseText;
                        if (BuildXMLFromString(data_xml)) {
                            if (window.DOMParser) {
                                parser = new DOMParser();
                                xmlDoc = parser.parseFromString(data_xml, "text/xml");
                            } else {
                                xmlDoc = new ActiveXObject("Microsoft.XMLDOM");
                                xmlDoc.async = false;
                                xmlDoc.loadXML(data_xml);
                            }
                            var status = xmlDoc.getElementsByTagName("Status")[0].childNodes[0].nodeValue;
                            if (status == 1) {
                                var msisdn = xmlDoc.getElementsByTagName("Msisdn")[0].childNodes[0].nodeValue;
                                var UsedCredit = xmlDoc.getElementsByTagName("UsedCredit")[0].childNodes[0].nodeValue;
                                var RemainCredit = xmlDoc.getElementsByTagName("RemainCredit")[0].childNodes[0].nodeValue;
                                document.getElementById("mySpan").innerHTML = "Send to " + msisdn + " Success. Use Credit "
                                    + UsedCredit + " Credit, Credit Remain " + RemainCredit + " Credit.";
                            } else {
                                var Detail = xmlDoc.getElementsByTagName("Detail")[0].childNodes[0].nodeValue;
                                document.getElementById("mySpan").innerHTML = Detail;
                            }
                        }
                    } else {
                        document.getElementById("mySpan").innerHTML = "Can not connect Server !!!";
                    }
                }
            }
        }

        function CreateMSXMLDocumentObject() {
            if (typeof (ActiveXObject) != "undefined") {
                var progIDs = [
                    "Msxml2.DOMDocument.6.0",
                    "Msxml2.DOMDocument.5.0",
                    "Msxml2.DOMDocument.4.0",
                    "Msxml2.DOMDocument.3.0",
                    "MSXML2.DOMDocument",
                    "MSXML.DOMDocument"
                ];
                for (var i = 0; i < progIDs.length; i++) {
                    try {
                        return new ActiveXObject(progIDs[i]);
                    } catch (e) { };
                }
            }
            return null;
        }

        function BuildXMLFromString(text) {
            var message = "";
            if (window.DOMParser) {
                var parser = new DOMParser();
                try {
                    xmlDoc = parser.parseFromString(text, "text/xml");
                } catch (e) {
                    alert("XML parsing error.");
                    return false;
                };
            } else {
                xmlDoc = CreateMSXMLDocumentObject();
                if (!xmlDoc) {
                    alert("Cannot create XMLDocument object");
                    return false;
                }
                xmlDoc.loadXML(text);
            }
            var errorMsg = null;
            if (xmlDoc.parseError && xmlDoc.parseError.errorCode != 0) {
                errorMsg = "XML Parsing Error: " + xmlDoc.parseError.reason
                    + " at line " + xmlDoc.parseError.line
                    + " at position " + xmlDoc.parseError.linepos;
            } else {
                if (xmlDoc.documentElement) {
                    if (xmlDoc.documentElement.nodeName == "parsererror") {
                        errorMsg = xmlDoc.documentElement.childNodes[0].nodeValue;
                    }
                }
                else {
                    errorMsg = "XML Parsing Error!";
                }
            }
            if (errorMsg) {
                alert(errorMsg);
                return false;
            }
            return true;
        }

        var dateDiv = document.getElementById('ScheduledDelivery');
        Object.defineProperty(Date.prototype, 'YYMMDDHHMM', {
            value: function () {
                function pad2(n) {  // always returns a string
                    return (n < 10 ? '0' : '') + n;
                }
                return this.getFullYear() +
                    pad2(this.getMonth() + 1) +
                    pad2(this.getDate()) +
                    pad2(this.getHours()) +
                    pad2(this.getMinutes());
            }
        });
        dateDiv.innerHTML = new Date().YYMMDDHHMM();

        $(document).ready(function () {
            $('#btnEditU').click(function () {
                $("input[name='SMSusername']").removeAttr("readonly");
            });
            $('#btnEditP').click(function () {
                $("input[name='SMSpassword']").removeAttr("readonly");
            });
        });
    </script>
</body>

</html>